
@{
    ViewData["Title"] = "AD";
}
<div class="text-center">
<h1>AD      |Avyudaya Dakal</h1>
</div>
<div style="width: 1300px; background-color:aliceblue; color:CaptionText">
          <marquee direction="left"> This is Created by Avyudaya Dhakal</marquee>
      </div>
      <div style="width: 1300px; background-color: #CCFFCC;">
          <marquee direction="right"> It is a simple document system where user can read and write the document.</marquee>
     </div>
 <dd>
      <div class="row-cols-1">
        <img src="~/Image/aa.jpg" asp-append-version="true" width="600px" height="600px" />
</div>
    </dd>
